// Body
$body-bg: black;

//table
$table-color: white;
$table-style: none;

// pagination
$pagination-bg: black;
$pagination-color: white;
$pagination-disabled-bg: #15172b;


// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
